<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home Page</title>
</head>
<body>
<div align="center">
    <h1>Menu</h1>
    <a href="/listClient">Client</a>
    <a href="/menuCompte">Compte</a>
    <br/><br/>
    <br/><br/>
    <span>Avant d'utiliser l'application, veuillez initialiser la base de données (type de compte et type d'operation)</span>
    <a href="/initialisation">Initialiser la base de données</a>
</div>   
</body>
</html>